configuration {
  show-icons: true;
  terminal: "kitty";

  timeout {
    action: "kb-cancel";
    delay:  0;
  }

  filebrowser {
    directories-first: true;
    sorting-method: "name";
  }
}

@theme "solarized_alternate" 

window {
  border: 0;
  border-radius: 5;
  full-shadow: true;
}

